
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="csrf-token" content="v0peFL1yiaokihSRPdJv9CPbty9nRDyPQ8qxm9F2">
    <title>Reports for hack users | 绝地求生大逃杀（PUBG）战绩 - DAK.GG</title>
    <meta name="description" content="User reports for hack users who met in their previous games.">
    <meta name="keywords"
          content="绝地求生大逃杀,绝地求生大逃杀战绩,绝地求生大逃杀战绩查询网址,PUBG,绝地求生大逃杀查战绩,绝地求生大逃杀战绩在哪看,绝地求生大逃杀战绩记录,绝地求生大逃杀胜率查询,绝地求生大逃杀战绩胜率,作弊者">
    <meta property="og:title" content="绝地求生大逃杀战绩查询_DAK.GG"/>
    <meta property="og:description" content="User reports for hack users who met in their previous games."/>
    <meta property="og:type" content="website"/>
    <link rel="stylesheet" href="https://d3dxqwkfasz293.cloudfront.net/css/app.css?id=01acb34fd07fdb0959e3"/>
</head>
<body class="zh hack">
<div id="wrapper">
    <header class="alert-">

        <nav>
            <div class="container">
                <ul class="menu">
                    <li>
                        <a href="https://dak.gg/statistics/rating">统计</a>
                    </li>
                    <li>
                        <a href="https://dak.gg/ranks">排行榜</a>
                    </li>
                    <li>
                        <a href="https://dak.gg/favorite">收藏</a>
                    </li>
                    <li class="active">
                        <a href="https://dak.gg/hack/police">作弊者</a>
                    </li>
                                                        </ul>

                <form action="/search" class="search">
                    <input type="text" name="name" value="" maxlength="30" required placeholder="搜索"/>
                    <button type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </form>

                                    <div class="serverStatus status-1">
                        <i></i>
                        <a href="/statistics/server">
                            <strong>服务器:</strong>
                            <span>正常</span>
                        </a>
                    </div>

                            </div>
        </nav>
    </header>

    <div id="container">

    <div id="ranks" class="hack hack-police">


                    <table class="police list recent">
                <thead>
                <tr>
                    <th class="no">#</th>
                    <th class="target">Target User</th>
                    <th class="comment">Reason</th>
                    <th class="dt">Date</th>
                    <th class="reporter">Reported by</th>
                </tr>
                </thead>
                <tbody>
                                    <tr>
                        <td class="no">67117</td>
                        <td class="nick">
                            <a href="https://dak.gg/profile/wd3851">
                                <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/79/7931085c29022c175d09e9494e9cadbe8f870850_full.jpg" class="avatar">
                                wd3851
                                <span> player looks like a cheater.</span>
                            </a>
                        </td>
                        <td class="comment">
                            실력이 안되니까 핵을 처쓰네
                        </td>
                        <td class="dt">
                            刚刚
                        </td>
                        <td class="reporter">
                                                            M-onsTer
                                                    </td>
                    </tr>
                                    <tr>
                        <td class="no">67116</td>
                        <td class="nick">
                            <a href="https://dak.gg/profile/wozuiaideta">
                                <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fe/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb_full.jpg" class="avatar">
                                wozuiaideta
                                <span> player looks like a cheater.</span>
                            </a>
                        </td>
                        <td class="comment">
                            쏘는것마다 머리임 장난하는것도 아니고 신규아이디 파서 계속 하네요.
                        </td>
                        <td class="dt">
                            8分前
                        </td>
                        <td class="reporter">
                                                            KoGaAPa
                                                    </td>
                    </tr>
                                    <tr>
                        <td class="no">67115</td>
                        <td class="nick">
                            <a href="https://dak.gg/profile/907653854">
                                <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fe/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb_full.jpg" class="avatar">
                                907653854
                                <span> player looks like a cheater.</span>
                            </a>
                        </td>
                        <td class="comment">
                            일부러 끊어쏘면서 마지막까지 안죽이다가 솔쿼드하면서 스쿼드 다꺠부신우리핵쟁이형님
                        </td>
                        <td class="dt">
                            10分前
                        </td>
                        <td class="reporter">
                                                            kor-max1mus
                                                    </td>
                    </tr>
                                    <tr>
                        <td class="no">67114</td>
                        <td class="nick">
                            <a href="https://dak.gg/profile/tumi_">
                                <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fe/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb_full.jpg" class="avatar">
                                tumi_
                                <span> player looks like a cheater.</span>
                            </a>
                        </td>
                        <td class="comment">
                            핵쟁이
                        </td>
                        <td class="dt">
                            12分前
                        </td>
                        <td class="reporter">
                                                            kGray
                                                    </td>
                    </tr>
                                    <tr>
                        <td class="no">67113</td>
                        <td class="nick">
                            <a href="https://dak.gg/profile/MinS2">
                                <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fe/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb_full.jpg" class="avatar">
                                MinS2
                                <span> player looks like a cheater.</span>
                            </a>
                        </td>
                        <td class="comment">
                            개잘핵
                        </td>
                        <td class="dt">
                            18分前
                        </td>
                        <td class="reporter">
                                                            MinS2
                                                    </td>
                    </tr>
                                    <tr>
                        <td class="no">67112</td>
                        <td class="nick">
                            <a href="https://dak.gg/profile/dengjun01">
                                <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/10/10ae52beb38d540551ce5645feaba1dc02c45c9b_full.jpg" class="avatar">
                                dengjun01
                                <span> player looks like a cheater.</span>
                            </a>
                        </td>
                        <td class="comment">
                            하 실력 좆도없는새*가 핵쓰고 *랄이네 ㅡㅡ
                        </td>
                        <td class="dt">
                            19分前
                        </td>
                        <td class="reporter">
                                                            bbkjh
                                                    </td>
                    </tr>
                                    <tr>
                        <td class="no">67111</td>
                        <td class="nick">
                            <a href="https://dak.gg/profile/LeononLai">
                                <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/9c/9ca0b5b0057c2f761c80fb80dd3fdf9b12b00ff8_full.jpg" class="avatar">
                                LeononLai
                                <span> player looks like a cheater.</span>
                            </a>
                        </td>
                        <td class="comment">
                            핵쓰면 좋아요?
                        </td>
                        <td class="dt">
                            20分前
                        </td>
                        <td class="reporter">
                                                            SiBooYa
                                                    </td>
                    </tr>
                                    <tr>
                        <td class="no">67110</td>
                        <td class="nick">
                            <a href="https://dak.gg/profile/hosin1">
                                <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fe/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb_full.jpg" class="avatar">
                                hosin1
                                <span> player looks like a cheater.</span>
                            </a>
                        </td>
                        <td class="comment">
                            토크온 들어오자마자 반말을 하길래 전적을봤더니 그저그래서 짜르자고 했더니 욕박네요 이새*랑할빠에 솔쿼드하시는게 이롭습니다
                        </td>
                        <td class="dt">
                            22分前
                        </td>
                        <td class="reporter">
                                                            leesmog
                                                    </td>
                    </tr>
                                    <tr>
                        <td class="no">67109</td>
                        <td class="nick">
                            <a href="https://dak.gg/profile/jack94v587">
                                <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fe/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb_full.jpg" class="avatar">
                                jack94v587
                                <span> player looks like a cheater.</span>
                            </a>
                        </td>
                        <td class="comment">
                            **없는 중국인 아니면 부모 병신인 한국인 둘중하나
                        </td>
                        <td class="dt">
                            22分前
                        </td>
                        <td class="reporter">
                                                            BiracksickhE
                                                    </td>
                    </tr>
                                    <tr>
                        <td class="no">67108</td>
                        <td class="nick">
                            <a href="https://dak.gg/profile/Canonzyq">
                                <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/a6/a6058ae4fe387b84715a75fc3981fa83e5d7875d_full.jpg" class="avatar">
                                Canonzyq
                                <span> player looks like a cheater.</span>
                            </a>
                        </td>
                        <td class="comment">
                            핵쟁이 지렸고~
                        </td>
                        <td class="dt">
                            22分前
                        </td>
                        <td class="reporter">
                                                            choisss
                                                    </td>
                    </tr>
                                    <tr>
                        <td class="no">67107</td>
                        <td class="nick">
                            <a href="https://dak.gg/profile/nabiyouzha666">
                                <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/8d/8dbb9d0c680c310e9791a7308997e3f75c545c5f_full.jpg" class="avatar">
                                nabiyouzha666
                                <span> player looks like a cheater.</span>
                            </a>
                        </td>
                        <td class="comment">
                            핵임
                        </td>
                        <td class="dt">
                            23分前
                        </td>
                        <td class="reporter">
                                                            Tiranotyranno
                                                    </td>
                    </tr>
                                    <tr>
                        <td class="no">67106</td>
                        <td class="nick">
                            <a href="https://dak.gg/profile/SKT-ing">
                                <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/97/97f98d0f892edd607d118f483699439eac0a5be7_full.jpg" class="avatar">
                                SKT-ing
                                <span> player looks like a cheater.</span>
                            </a>
                        </td>
                        <td class="comment">
                            ㄴㄴ 블루홀 고위 관계자가 심심할때 플레이 하는 계정이라 정지를 먹일수 없습니다
                        </td>
                        <td class="dt">
                            38分前
                        </td>
                        <td class="reporter">
                                                            YBKyang
                                                    </td>
                    </tr>
                                    <tr>
                        <td class="no">67105</td>
                        <td class="nick">
                            <a href="https://dak.gg/profile/DouyuTV-QM">
                                <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fe/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb_full.jpg" class="avatar">
                                DouyuTV-QM
                                <span> player looks like a cheater.</span>
                            </a>
                        </td>
                        <td class="comment">
                            재밌냐? 어?
                        </td>
                        <td class="dt">
                            43分前
                        </td>
                        <td class="reporter">
                                                            2carus
                                                    </td>
                    </tr>
                                    <tr>
                        <td class="no">67104</td>
                        <td class="nick">
                            <a href="https://dak.gg/profile/DouyuTV-QM">
                                <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fe/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb_full.jpg" class="avatar">
                                DouyuTV-QM
                                <span> player looks like a cheater.</span>
                            </a>
                        </td>
                        <td class="comment">
                            야이 핵새*야
                        </td>
                        <td class="dt">
                            43分前
                        </td>
                        <td class="reporter">
                                                            2carus
                                                    </td>
                    </tr>
                                    <tr>
                        <td class="no">67103</td>
                        <td class="nick">
                            <a href="https://dak.gg/profile/MC-xiaobao">
                                <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fe/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb_full.jpg" class="avatar">
                                MC-xiaobao
                                <span> player looks like a cheater.</span>
                            </a>
                        </td>
                        <td class="comment">
                            aimbot 핵유저
                        </td>
                        <td class="dt">
                            43分前
                        </td>
                        <td class="reporter">
                                                            Gyewolhyang
                                                    </td>
                    </tr>
                                    <tr>
                        <td class="no">67102</td>
                        <td class="nick">
                            <a href="https://dak.gg/profile/Li_A_xi">
                                <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/bc/bc279a36b3cb2fe1ea55b7edc84cc3e2c6af53be_full.jpg" class="avatar">
                                Li_A_xi
                                <span> player looks like a cheater.</span>
                            </a>
                        </td>
                        <td class="comment">
                            핵쓰는새*가 아닌척하긴
                        </td>
                        <td class="dt">
                            49分前
                        </td>
                        <td class="reporter">
                                                            habanero24
                                                    </td>
                    </tr>
                                    <tr>
                        <td class="no">67101</td>
                        <td class="nick">
                            <a href="https://dak.gg/profile/molika23">
                                <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fe/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb_full.jpg" class="avatar">
                                molika23
                                <span> player looks like a cheater.</span>
                            </a>
                        </td>
                        <td class="comment">
                            핵쟁이새* 주로 스피드핵
                        </td>
                        <td class="dt">
                            51分前
                        </td>
                        <td class="reporter">
                                                            Korea-Team
                                                    </td>
                    </tr>
                                    <tr>
                        <td class="no">67100</td>
                        <td class="nick">
                            <a href="https://dak.gg/profile/WO-Li-A">
                                <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fe/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb_full.jpg" class="avatar">
                                WO-Li-A
                                <span> player looks like a cheater.</span>
                            </a>
                        </td>
                        <td class="comment">
                            핵정당히 써라 실력도 없으면서 병신아
                        </td>
                        <td class="dt">
                            53分前
                        </td>
                        <td class="reporter">
                                                            Dogpos
                                                    </td>
                    </tr>
                                    <tr>
                        <td class="no">67099</td>
                        <td class="nick">
                            <a href="https://dak.gg/profile/xiao_xiao_ch">
                                <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fe/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb_full.jpg" class="avatar">
                                xiao_xiao_ch
                                <span> player looks like a cheater.</span>
                            </a>
                        </td>
                        <td class="comment">
                            핵쓰고 애들 소환하니ㅋㅋ
                        </td>
                        <td class="dt">
                            53分前
                        </td>
                        <td class="reporter">
                                                            j-YeonWoo
                                                    </td>
                    </tr>
                                    <tr>
                        <td class="no">67098</td>
                        <td class="nick">
                            <a href="https://dak.gg/profile/j-YeonWoo">
                                <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/a5/a5c6e6216779c16f2404c9cbaa721804abf9a67d_full.jpg" class="avatar">
                                j-YeonWoo
                                <span> player looks like a cheater.</span>
                            </a>
                        </td>
                        <td class="comment">
                            꺼저제발;
                        </td>
                        <td class="dt">
                            55分前
                        </td>
                        <td class="reporter">
                                                            j-YeonWoo
                                                    </td>
                    </tr>
                                    <tr>
                        <td class="no">67097</td>
                        <td class="nick">
                            <a href="https://dak.gg/profile/Boobmilker">
                                <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/56/565b390367255037c984463a3f817c10d71eda05_full.jpg" class="avatar">
                                Boobmilker
                                <span> player looks like a cheater.</span>
                            </a>
                        </td>
                        <td class="comment">
                            길리에 스나인건 알겠는데 선빵 날리고 나무뒤에 숨었는데 그대로 뚫고 헤드맞네 참나
                        </td>
                        <td class="dt">
                            1小时前
                        </td>
                        <td class="reporter">
                                                            Squad_Nightmare
                                                    </td>
                    </tr>
                                    <tr>
                        <td class="no">67096</td>
                        <td class="nick">
                            <a href="https://dak.gg/profile/FussyParts">
                                <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/72/726868b9efabbf0877b14432dd2412a2fb296aaa_full.jpg" class="avatar">
                                FussyParts
                                <span> player looks like a cheater.</span>
                            </a>
                        </td>
                        <td class="comment">
                            투명핵 오지구여 길리도아닌데 눈앞에 없던게 깝튀하네
                        </td>
                        <td class="dt">
                            1小时前
                        </td>
                        <td class="reporter">
                                                            Squad_Nightmare
                                                    </td>
                    </tr>
                                    <tr>
                        <td class="no">67095</td>
                        <td class="nick">
                            <a href="https://dak.gg/profile/woshizui">
                                <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fe/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb_full.jpg" class="avatar">
                                woshizui
                                <span> player looks like a cheater.</span>
                            </a>
                        </td>
                        <td class="comment">
                            에임핵 + esp
                        </td>
                        <td class="dt">
                            1小时前
                        </td>
                        <td class="reporter">
                                                            Jay-Black
                                                    </td>
                    </tr>
                                    <tr>
                        <td class="no">67094</td>
                        <td class="nick">
                            <a href="https://dak.gg/profile/woshizui">
                                <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fe/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb_full.jpg" class="avatar">
                                woshizui
                                <span> player looks like a cheater.</span>
                            </a>
                        </td>
                        <td class="comment">
                            핵
                        </td>
                        <td class="dt">
                            1小时前
                        </td>
                        <td class="reporter">
                                                            Jay-Black
                                                    </td>
                    </tr>
                                    <tr>
                        <td class="no">67093</td>
                        <td class="nick">
                            <a href="https://dak.gg/profile/joankorea">
                                <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/87/87e672d5610d2de8d66ce7b1cb78a1491b5dce9e_full.jpg" class="avatar">
                                joankorea
                                <span> player looks like a cheater.</span>
                            </a>
                        </td>
                        <td class="comment">
                            동네방네 소문다남 존나 못하는핵으로 ㅋㅋ
                        </td>
                        <td class="dt">
                            1小时前
                        </td>
                        <td class="reporter">
                                                            Kar98k-BBaeng
                                                    </td>
                    </tr>
                                </tbody>
            </table>

        <nav>
            <ul class="pagination">
                                                    <li class="active">
                        <a href="https://dak.gg/hack/police/recent/1">
                            1
                        </a>
                    </li>
                                    <li>
                        <a href="https://dak.gg/hack/police/recent/2">
                            2
                        </a>
                    </li>
                                    <li>
                        <a href="https://dak.gg/hack/police/recent/3">
                            3
                        </a>
                    </li>
                                    <li>
                        <a href="https://dak.gg/hack/police/recent/4">
                            4
                        </a>
                    </li>
                                    <li>
                        <a href="https://dak.gg/hack/police/recent/5">
                            5
                        </a>
                    </li>
                                                    <li>
                        <a href="https://dak.gg/hack/police/recent/6">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                            </ul>
        </nav>
    </div>

      </div>



</body>
</html>