<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>错误提示</title>
    <style type="text/css">
        .home-hero {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 4px;
    background-image: url(https://wx1.sinaimg.cn/large/005VFnYAly1flipfhk6b0j31cl0ni11t.jpg);
    background-color: #0e171a;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
    </style>
</head>
<body>
<div class="home-hero">
</div>
<script language="javascript" type="text/javascript">
    alert('您输入的绝地求生ID有误，或者蓝洞抽风导致查询失败，请在试一次')
window.location.href="https://xedgo.com";
</script>
</body>
</html>