<html lang="zh">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="csrf-token" content="v0peFL1yiaokihSRPdJv9CPbty9nRDyPQ8qxm9F2">
<title>XedGo | 绝地求生大逃杀（PUBG）战绩 - DAK.GG</title>
<meta name="description" content="查看XedGo的绝地求生统计资料">
<meta name="keywords" content="绝地求生大逃杀,绝地求生大逃杀战绩,绝地求生大逃杀战绩查询网址,PUBG,绝地求生大逃杀查战绩,绝地求生大逃杀战绩在哪看,绝地求生大逃杀战绩记录,绝地求生大逃杀胜率查询,绝地求生大逃杀战绩胜率,作弊者">
<meta property="og:title" content="XedGo | 绝地求生大逃杀（PUBG）战绩 - DAK.GG"/>
<meta property="og:description" content="查看XedGo的绝地求生统计资料"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://dak.gg/profile/XedGo/2017-pre5/as"/>
<meta property="og:image" content="https://d3dxqwkfasz293.cloudfront.net/images/og_title_dakgg.png"/>
<meta property="og:site_name" content="XedGo | 绝地求生大逃杀（PUBG）战绩 - DAK.GG"/>
<meta property="twitter:image" content="https://d3dxqwkfasz293.cloudfront.net/images/og_title_dakgg.png"/>
<link rel="canonical" href="https://dak.gg/profile/XedGo/2017-pre5/as"/>
<link rel="icon" type="image/png" sizes="192x192" href="https://d3dxqwkfasz293.cloudfront.net/images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://d3dxqwkfasz293.cloudfront.net/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://d3dxqwkfasz293.cloudfront.net/images/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://d3dxqwkfasz293.cloudfront.net/images/favicon/favicon-16x16.png">
<link rel="shortcut icon" href="https://d3dxqwkfasz293.cloudfront.net/images/favicon/favicon.ico"/>
<link rel="alternate" href="https://dak.gg/profile/XedGo/2017-pre5/as" hreflang="x-default">
<link rel="alternate" href="https://dak.gg/profile/XedGo/2017-pre5/as?hl=en" hreflang="en">
<link rel="alternate" href="https://dak.gg/profile/XedGo/2017-pre5/as?hl=ko" hreflang="ko">
<link rel="alternate" href="https://dak.gg/profile/XedGo/2017-pre5/as?hl=zh" hreflang="zh">
<link rel="alternate" href="https://dak.gg/profile/XedGo/2017-pre5/as?hl=ja" hreflang="ja">
<link rel="stylesheet" href="https://d3dxqwkfasz293.cloudfront.net/css/app.css?id=d5c20bfb213380da894f"/>
</head>
<body class="zh">
<div id="wrapper">
	<header class="alert-">
	<nav>
	<div class="container">
		<ul class="menu">
			<li>
			<a href="https://dak.gg/statistics/rating">统计</a>
			</li>
			<li>
			<a href="https://dak.gg/ranks">排行榜</a>
			</li>
			<li>
			<a href="https://dak.gg/favorite">收藏</a>
			</li>
			<li>
			<a href="https://dak.gg/hack/police">作弊者</a>
			</li>
		</ul>
		<form action="/search" class="search">
			<input type="text" name="name" value="" maxlength="30" required placeholder="搜索"/>
			<button type="submit">
			<i class="glyphicon glyphicon-search"></i>
			</button>
		</form>
		<div class="serverStatus status-1">
			<i></i>
			<a href="/statistics/server">
			<strong>服务器:</strong>
			<span>正常</span>
			</a>
		</div>
	</div>
	</nav>
	</header>
	<div id="container">
		<div class="pa_sc pa_sc_big">
			<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2756103832564341" data-ad-slot="2365805246" data-ad-format="auto"></ins>
			<script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
		</div>
		<div class="pa_bs pa_bs_big">
			<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2756103832564341" data-ad-slot="5458490604" data-ad-format="auto"></ins>
			<script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
		</div>
		<br>
		<div id="profile">
			<div class="userInfo">
				<img src="{{ pubg_img }}" class="avatar" alt="Steam头像图片"/>
				<div class="userData">
					<span class="nick" data-nick="XedGo">
                    {{ userid }}
					</span>
					<div class="renew" data-dryrun="-1">
						<button class="renew latest">
						<i class="glyphicon glyphicon-ok"></i>
						<span>最新战绩</span>
						</button>
						<div class="favorite">
							<button class="active">
							<i class="glyphicon glyphicon-bookmark"></i>
							<span>收藏</span>
							</button>
						</div>
						<p>
                        更新于
							<span>{{ update }}</span>
						</p>
					</div>
				</div>
				<div class="seasons">
					<ul>
						<li data-season="2017-pre5" class="active">
						<a href="#">赛季5</a>
						</li>
					</ul>
				</div>
				<div class="regions">
					<ul>
						<li data-code="as" class="played_224 active">
						<a href="https://dak.gg/profile/XedGo/2017-pre5/as">
                                                                                                                                    AS
						</a>
						</li>
						<li data-code="krjp" class="played_0">
						<a href="https://dak.gg/profile/XedGo/2017-pre5/krjp">
                                                                                                                                    KR/JP
						</a>
						</li>
						<li data-code="na" class="played_0">
						<a href="https://dak.gg/profile/XedGo/2017-pre5/na">
                                                                                                                                    NA
						</a>
						</li>
						<li data-code="eu" class="played_0">
						<a href="https://dak.gg/profile/XedGo/2017-pre5/eu">
                                                                                                                                    EU
						</a>
						</li>
						<li data-code="oc" class="played_0">
						<a href="https://dak.gg/profile/XedGo/2017-pre5/oc">
                                                                                                                                    OC
						</a>
						</li>
						<li data-code="sa" class="played_0">
						<a href="https://dak.gg/profile/XedGo/2017-pre5/sa">
                                                                                                                                    SA
						</a>
						</li>
						<li data-code="sea" class="played_0">
						<a href="https://dak.gg/profile/XedGo/2017-pre5/sea">
                                                                                                                                    SEA
						</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="profileContent">
				<div class="modeSummary">
					<section class="solo modeItem">
					<div class="mode-section tpp">
						<h1>
						<img src="https://d3dxqwkfasz293.cloudfront.net/images/icons/ico_solo_wh.png" srcset="https://d3dxqwkfasz293.cloudfront.net/images/icons/ico_solo_wh@2x.png 2x" alt="图标">
                                    单排
						<span class="time_played" data-toggle="tooltip" data-placement="right" data-html="true">
                                                {{ pubg_solo_time }}小时
						</span>
						<em>
                                            排名：{{ pubg_solo_bestrank }} 位
						</em>
						</h1>
						<div class="overview">
							<div class="grade-info">
                                {% if pubg_solo_rting  < 800 %}
                                        <img src="https://d3dxqwkfasz293.cloudfront.net/images/icons/ow/rank-1.png"  class="grade-icon">
                                        <p class="grade-name">青铜级</p>
                                {% elif pubg_solo_rting < 1500 %}
                                        <img src="https://d3dxqwkfasz293.cloudfront.net/images/icons/ow/rank-2.png"  class="grade-icon">
                                        <p class="grade-name">白银级</p>
                                {% elif pubg_solo_rting < 1700 %}
                                    <img src="https://d3dxqwkfasz293.cloudfront.net/images/icons/ow/rank-3.png"  class="grade-icon">
                                    <p class="grade-name">黄金级</p>
                                {% elif pubg_solo_rting < 1800 %}
                                    <img src="https://d3dxqwkfasz293.cloudfront.net/images/icons/ow/rank-4.png" a class="grade-icon">
                                    <p class="grade-name">铂金级</p>
                                {% elif pubg_solo_rting < 2000 %}
                                    <img src="https://d3dxqwkfasz293.cloudfront.net/images/icons/ow/rank-5.png" a class="grade-icon">
                                    <p class="grade-name">砖石级</p>
                                {% else %}
                                    <img src="https://d3dxqwkfasz293.cloudfront.net/images/icons/ow/rank-8.png" a class="grade-icon">
                                    <p class="grade-name">无敌是多么寂寞</p>

                                {% endif %}
							</div>
							<div class="rating">
								<span class="value">{{ pubg_solo_rting }}</span>
								<span class="caption">积分</span>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="30.6" style="width: {{ pubg_solo_rting1 }}%">
									</div>
								</div>
								<p class="desc">
									<span class="top">超越 {{ pubg_solo_rting1 }}% 玩家</span>

								</p>
							</div>
						</div>
						<p class="win-stats">
                                                                            0W 1T 2L
						</p>
						<div class="stats">
							<!-- K/D -->
							<div class="kd stats-item stats-top-graph">
								<label>K/D</label>
								<p class="value">
                                                                                                    {{ pubg_solo_kda }}
								</p>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="25" style="width: {{ pubg_solo_kda1 }}%">
									</div>
								</div>
								<span class="top">超越 {{ pubg_solo_kda1 }}% 玩家</span>
							</div>
							<!-- 승률 -->
							<div class="winratio stats-item stats-top-graph">
								<label>
                                                胜率
								</label>
								<p class="value">
                                                {{ pubg_solo_sl }}
								</p>
								<div class="progress">
                                    {% if pubg_solo_sl1  <= 0 %}
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="0" style="width: 1%">
									</div>
								</div>
								<span class="top">超越 1% 玩家</span>
                                    {% else %}
                                <div class="progress-bar progress-bar-success" role="progressbar" data-percent="0" style="width: {{ pubg_solo_sl1 }}%">
									</div>
								</div>
								<span class="top">超越 {{ pubg_solo_sl1 }}% 玩家</span>
                                    {% endif %}
							</div>


							<!-- Top10s -->
							<div class="top10s stats-item stats-top-graph">
								<label>Top10</label>
								<p class="value">
                                                {{ pubg_solo_top10 }}%
								</p>
								<div class="progress">
                                    {% if pubg_solo_top101  <= 0 %}
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="25" style="width:0%">
									</div>
								</div>
								<span class="top">超越 1% 玩家</span>
                                    {% else %}
                                <div class="progress-bar progress-bar-success" role="progressbar" data-percent="25" style="width:{{ pubg_solo_top101 }}%">
									</div>
								</div>
								<span class="top">超越 {{ pubg_solo_top101 }}% 玩家</span>
                        {% endif %}
							</div>




							<!-- 평균 딜량 -->
							<div class="deals stats-item stats-top-graph">
								<label>平均伤害</label>
								<p class="value">
                                                171
								</p>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="44.6" style="width: 44.6%">
									</div>
								</div>
								<span class="top">前 55.4%</span>
							</div>
							<!-- 게임 수 -->
							<div class="games stats-item stats-top-graph">
								<label>游戏局数</label>
								<p class="value">
                                                4
								</p>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="32.2" style="width: 32.2%">
									</div>
								</div>
								<span class="top">前 67.8%</span>
							</div>
							<!-- 여포 -->
							<div class="mostkills stats-item stats-top-graph">
								<label>
                                                单局最高杀人数
								</label>
								<p class="value">
                                                3
								</p>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="22.7" style="width: 22.7%">
									</div>
								</div>
								<span class="top">前 77.3%</span>
							</div>
							<!-- 헤드샷 -->
							<div class="headshots stats-item stats-top-graph">
								<label>
                                                射击头部
								</label>
								<p class="value">
                                                0.0%
								</p>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="0" style="width: 0%">
									</div>
								</div>
								<span class="top">前 100.0%</span>
							</div>
							<!-- 저격 -->
							<div class="longest stats-item stats-top-graph">
								<label>
                                                Longest
								</label>
								<p class="value">
                                                17.6m
								</p>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="15.5" style="width: 15.5%">
									</div>
								</div>
								<span class="top">前 84.5%</span>
							</div>
							<!-- 생존 -->
							<div class="survival stats-item stats-top-graph">
								<label>
                                                Survived
								</label>
								<p class="value">
                                                15分 35秒
								</p>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="54.4" style="width: 54.4%">
									</div>
								</div>
								<span class="top">前 45.6%</span>
							</div>
						</div>
					</div>
					</section>
					<section class="duo modeItem">
					<div class="mode-section tpp">
						<h1>
						<img src="https://d3dxqwkfasz293.cloudfront.net/images/icons/ico_duo_wh.png" srcset="https://d3dxqwkfasz293.cloudfront.net/images/icons/ico_duo_wh@2x.png 2x" alt="图标">
                                    双排
						<span class="time_played" data-toggle="tooltip" data-placement="right" data-html="true" title="游戏时间: 14小时 58分">
                                                14小时
						</span>
						<em>
                                            1W 11T 56L
						</em>
						</h1>
						<div class="overview">
							<div class="grade-info">
								<img src="https://d3dxqwkfasz293.cloudfront.net/images/icons/ow/rank-3.png" alt="黄金级 4" class="grade-icon">
								<p class="grade-name">
                                                黄金级 4
								</p>
							</div>
							<div class="rating">
								<span class="value">1,415</span>
								<span class="caption">积分</span>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="36.6" style="width: 36.6%">
									</div>
								</div>
								<p class="desc">
									<span class="top">前 63.4%</span>
									<span class="rank">5,335,689位</span>
								</p>
							</div>
						</div>
						<p class="win-stats">
                                                                            1W 11T 45L
						</p>
						<div class="stats">
							<!-- K/D -->
							<div class="kd stats-item stats-top-graph">
								<label>K/D</label>
								<p class="value">
                                                                                                    0.49
								</p>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="9.1" style="width: 9.1%">
									</div>
								</div>
								<span class="top">前 90.9%</span>
							</div>
							<!-- 승률 -->
							<div class="winratio stats-item stats-top-graph">
								<label>
                                                胜率
								</label>
								<p class="value">
                                                1.5%
								</p>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="1.470588" style="width: 1.470588%">
									</div>
								</div>
								<span class="top">前 58.9%</span>
							</div>
							<!-- Top10s -->
							<div class="top10s stats-item stats-top-graph">
								<label>Top10</label>
								<p class="value">
                                                17.6%
								</p>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="17.64706" style="width: 17.64706%">
									</div>
								</div>
								<span class="top">前 79.6%</span>
							</div>
							<!-- 평균 딜량 -->
							<div class="deals stats-item stats-top-graph">
								<label>平均伤害</label>
								<p class="value">
                                                98
								</p>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="13.9" style="width: 13.9%">
									</div>
								</div>
								<span class="top">前 86.1%</span>
							</div>
							<!-- 게임 수 -->
							<div class="games stats-item stats-top-graph">
								<label>游戏局数</label>
								<p class="value">
                                                68
								</p>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="87" style="width: 87%">
									</div>
								</div>
								<span class="top">前 13.0%</span>
							</div>
							<!-- 여포 -->
							<div class="mostkills stats-item stats-top-graph">
								<label>
                                                单局最高杀人数
								</label>
								<p class="value">
                                                5
								</p>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="31.7" style="width: 31.7%">
									</div>
								</div>
								<span class="top">前 68.3%</span>
							</div>
							<!-- 헤드샷 -->
							<div class="headshots stats-item stats-top-graph">
								<label>
                                                射击头部
								</label>
								<p class="value">
                                                9.1%
								</p>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="18.6" style="width: 18.6%">
									</div>
								</div>
								<span class="top">前 81.4%</span>
							</div>
							<!-- 저격 -->
							<div class="longest stats-item stats-top-graph">
								<label>
                                                Longest
								</label>
								<p class="value">
                                                177.9m
								</p>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="40.3" style="width: 40.3%">
									</div>
								</div>
								<span class="top">前 59.7%</span>
							</div>
							<!-- 생존 -->
							<div class="survival stats-item stats-top-graph">
								<label>
                                                Survived
								</label>
								<p class="value">
                                                13分 12秒
								</p>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="22.9" style="width: 22.9%">
									</div>
								</div>
								<span class="top">前 77.1%</span>
							</div>
						</div>
					</div>
					</section>
					<section class="squad modeItem">
					<div class="mode-section tpp">
						<h1>
						<img src="https://d3dxqwkfasz293.cloudfront.net/images/icons/ico_squad_wh.png" srcset="https://d3dxqwkfasz293.cloudfront.net/images/icons/ico_squad_wh@2x.png 2x" alt="图标">
                                    四排
						<span class="time_played" data-toggle="tooltip" data-placement="right" data-html="true" title="游戏时间: 38小时 11分">
                                                38小时
						</span>
						<em>
                                            3W 48T 101L
						</em>
						</h1>
						<div class="overview">
							<div class="grade-info">
								<img src="https://d3dxqwkfasz293.cloudfront.net/images/icons/ow/rank-3.png" alt="黄金级 3" class="grade-icon">
								<p class="grade-name">
                                                黄金级 3
								</p>
							</div>
							<div class="rating">
								<span class="value">1,711</span>
								<span class="caption">积分</span>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="48.7" style="width: 48.7%">
									</div>
								</div>
								<p class="desc">
									<span class="top">前 51.3%</span>
									<span class="rank">3,878,656位</span>
								</p>
							</div>
						</div>
						<p class="win-stats">
                                                                            3W 48T 53L
						</p>
						<div class="stats">
							<!-- K/D -->
							<div class="kd stats-item stats-top-graph">
								<label>K/D</label>
								<p class="value">
                                                                                                    0.78
								</p>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="16.9" style="width: 16.9%">
									</div>
								</div>
								<span class="top">前 83.1%</span>
							</div>
							<!-- 승률 -->
							<div class="winratio stats-item stats-top-graph">
								<label>
                                                胜率
								</label>
								<p class="value">
                                                2.0%
								</p>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="1.973684" style="width: 1.973684%">
									</div>
								</div>
								<span class="top">前 79.1%</span>
							</div>
							<!-- Top10s -->
							<div class="top10s stats-item stats-top-graph">
								<label>Top10</label>
								<p class="value">
                                                33.6%
								</p>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="33.55263" style="width: 33.55263%">
									</div>
								</div>
								<span class="top">前 77.5%</span>
							</div>
							<!-- 평균 딜량 -->
							<div class="deals stats-item stats-top-graph">
								<label>平均伤害</label>
								<p class="value">
                                                119
								</p>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="19.6" style="width: 19.6%">
									</div>
								</div>
								<span class="top">前 80.4%</span>
							</div>
							<!-- 게임 수 -->
							<div class="games stats-item stats-top-graph">
								<label>游戏局数</label>
								<p class="value">
                                                152
								</p>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="93.47" style="width: 93.47%">
									</div>
								</div>
								<span class="top">前 6.53%</span>
							</div>
							<!-- 여포 -->
							<div class="mostkills stats-item stats-top-graph">
								<label>
                                                单局最高杀人数
								</label>
								<p class="value">
                                                6
								</p>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="36.8" style="width: 36.8%">
									</div>
								</div>
								<span class="top">前 63.2%</span>
							</div>
							<!-- 헤드샷 -->
							<div class="headshots stats-item stats-top-graph">
								<label>
                                                射击头部
								</label>
								<p class="value">
                                                17.2%
								</p>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="37.2" style="width: 37.2%">
									</div>
								</div>
								<span class="top">前 62.8%</span>
							</div>
							<!-- 저격 -->
							<div class="longest stats-item stats-top-graph">
								<label>
                                                Longest
								</label>
								<p class="value">
                                                290.1m
								</p>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="59.8" style="width: 59.8%">
									</div>
								</div>
								<span class="top">前 40.2%</span>
							</div>
							<!-- 생존 -->
							<div class="survival stats-item stats-top-graph">
								<label>
                                                Survived
								</label>
								<p class="value">
                                                15分 04秒
								</p>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" data-percent="30.9" style="width: 30.9%">
									</div>
								</div>
								<span class="top">前 69.1%</span>
							</div>
						</div>
					</div>
					</section>
				</div>
				<div class="overview">
					<div class="summary">
						<div class="title">
							<h4>
                            全部游戏简要
							<span>全部游戏记录合计</span>
							</h4>
						</div>
						<dl>
							<dt>
							<img src="https://d3dxqwkfasz293.cloudfront.net/images/icons/ico_time.png" srcset="https://d3dxqwkfasz293.cloudfront.net/images/icons/ico_time@2x.png 2x" alt="图标"/>
                                平均游戏时间
							</dt>
							<dd>
                                14分 31秒
							</dd>
						</dl>
						<dl>
							<dt>
							<img src="https://d3dxqwkfasz293.cloudfront.net/images/icons/ico_time.png" srcset="https://d3dxqwkfasz293.cloudfront.net/images/icons/ico_time@2x.png 2x" alt="图标"/>
                                累计游戏时间
							</dt>
							<dd>
                                2天 6小时 12分
							</dd>
						</dl>
						<dl>
							<dt>
							<img src="https://d3dxqwkfasz293.cloudfront.net/images/icons/ico_distance.png" srcset="https://d3dxqwkfasz293.cloudfront.net/images/icons/ico_distance@2x.png 2x" alt="图标"/>
                                平均移动距离
							</dt>
							<dd>
                                2.44 km
							</dd>
						</dl>
						<dl>
							<dt>
							<img src="https://d3dxqwkfasz293.cloudfront.net/images/icons/ico_distance.png" srcset="https://d3dxqwkfasz293.cloudfront.net/images/icons/ico_distance@2x.png 2x" alt="图标"/>
                                累计移动距离
							</dt>
							<dd>
                                546.5 km
							</dd>
						</dl>
						<dl>
							<dt>
							<img src="https://d3dxqwkfasz293.cloudfront.net/images/icons/ico_connect.png" srcset="https://d3dxqwkfasz293.cloudfront.net/images/icons/ico_connect@2x.png 2x" alt="图标"/>
                                连接本赛季游戏
							</dt>
							<dd>
                                                                    18 天
							</dd>
						</dl>
						<dl>
							<dt>
							<img src="https://d3dxqwkfasz293.cloudfront.net/images/icons/ico_weapon.png" srcset="https://d3dxqwkfasz293.cloudfront.net/images/icons/ico_weapon@2x.png 2x" alt="图标"/>
                                平均获得武器
							</dt>
							<dd>
                                3 个
							</dd>
						</dl>
						<dl>
							<dt>
							<img src="https://d3dxqwkfasz293.cloudfront.net/images/icons/ico_weapon.png" srcset="https://d3dxqwkfasz293.cloudfront.net/images/icons/ico_weapon@2x.png 2x" alt="图标"/>
                                累计获得武器
							</dt>
							<dd>
                                770 个
							</dd>
						</dl>
					</div>
				</div>
				<div class="matchHistory">
					<div class="item win" data-id="42611975">
						<div class="summary">
							<div class="modeName">
                                                                            双排
							</div>
							<span class="result">1W <em class="top10">11T</em><em class="lose">56L</em></span>
							<span class="age">8分前</span>
						</div>
						<dl class="rating">
							<dt>积分</dt>
							<dd>
                                    1415
							<em class="plus">
                                        (+1415)
							</em>
							</dd>
						</dl>
						<dl class="kills">
							<dt>平均击杀</dt>
							<dd>
                                        0.5
							</dd>
						</dl>
						<dl class="assists">
							<dt>平均助攻</dt>
							<dd>
                                        0.2
							</dd>
						</dl>
						<dl class="damage">
							<dt>
                                                                            平均伤害
							</dt>
							<dd>
                                    98
							</dd>
						</dl>
						<dl class="move">
							<dt>平均移动距离</dt>
							<dd>
                                        2.34 km
							</dd>
						</dl>
						<dl class="survived">
							<dt>平均存活时间</dt>
							<dd>
                                        13分 12秒
							</dd>
						</dl>
						<div class="detail">
							<a href="#">
							<span>详细说明</span>
							<br/>
							<i class="glyphicon glyphicon-triangle-bottom"></i>
							</a>
						</div>
						<div class="detailView">
							<img src="https://d3dxqwkfasz293.cloudfront.net/images/loading_rolling.gif" class="loading" alt="登录中"/>
						</div>
					</div>
					<div class="item top10" data-id="42611972">
						<div class="summary">
							<div class="modeName">
                                                                            单排
							</div>
							<span class="result">1T <em class="lose">3L</em></span>
							<span class="age">8分前</span>
						</div>
						<dl class="rating">
							<dt>积分</dt>
							<dd>
                                    1257
							<em class="plus">
                                        (+1257)
							</em>
							</dd>
						</dl>
						<dl class="kills">
							<dt>平均击杀</dt>
							<dd>
                                        1.0
							</dd>
						</dl>
						<dl class="assists">
							<dt>平均助攻</dt>
							<dd>
                                        0.0
							</dd>
						</dl>
						<dl class="damage">
							<dt>
                                                                            平均伤害
							</dt>
							<dd>
                                    171
							</dd>
						</dl>
						<dl class="move">
							<dt>平均移动距离</dt>
							<dd>
                                        2.49 km
							</dd>
						</dl>
						<dl class="survived">
							<dt>平均存活时间</dt>
							<dd>
                                        15分 35秒
							</dd>
						</dl>
						<div class="detail">
							<a href="#">
							<span>详细说明</span>
							<br/>
							<i class="glyphicon glyphicon-triangle-bottom"></i>
							</a>
						</div>
						<div class="detailView">
							<img src="https://d3dxqwkfasz293.cloudfront.net/images/loading_rolling.gif" class="loading" alt="登录中"/>
						</div>
					</div>
					<div class="item win" data-id="42611966">
						<div class="summary">
							<div class="modeName">
                                                                            四排
							</div>
							<span class="result">3W <em class="top10">48T</em><em class="lose">101L</em></span>
							<span class="age">8分前</span>
						</div>
						<dl class="rating">
							<dt>积分</dt>
							<dd>
                                    1711
							<em class="plus">
                                        (+1711)
							</em>
							</dd>
						</dl>
						<dl class="kills">
							<dt>平均击杀</dt>
							<dd>
                                        0.8
							</dd>
						</dl>
						<dl class="assists">
							<dt>平均助攻</dt>
							<dd>
                                        0.2
							</dd>
						</dl>
						<dl class="damage">
							<dt>
                                                                            平均伤害
							</dt>
							<dd>
                                    119
							</dd>
						</dl>
						<dl class="move">
							<dt>平均移动距离</dt>
							<dd>
                                        2.48 km
							</dd>
						</dl>
						<dl class="survived">
							<dt>平均存活时间</dt>
							<dd>
                                        15分 04秒
							</dd>
						</dl>
						<div class="detail">
							<a href="#">
							<span>详细说明</span>
							<br/>
							<i class="glyphicon glyphicon-triangle-bottom"></i>
							</a>
						</div>
						<div class="detailView">
							<img src="https://d3dxqwkfasz293.cloudfront.net/images/loading_rolling.gif" class="loading" alt="登录中"/>
						</div>
					</div>
				</div>
			</div>
			<div class="pa_bottom">
				<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2756103832564341" data-ad-slot="6775264097" data-ad-format="auto"></ins>
				<script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
			</div>
		</div>
		<div class="pa_bb">
			<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2756103832564341" data-ad-slot="4312399663" data-ad-format="auto"></ins>
			<script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
		</div>
	</div>
	<footer>
	<div class="container">
		<div class="locale">
			<a href="#" data-lang="zh">
			<img src="https://d3dxqwkfasz293.cloudfront.net/images/icons/flags/cn.png" alt="中国国旗">
			<span>中文</span>
			<i class="glyphicon glyphicon-triangle-bottom"></i>
			</a>
			<ul class="dropdown-menu">
				<li>
				<a href="https://dak.gg/profile/XedGo/2017-pre5/as?hl=ko" data-lang="ko">
				<img src="https://d3dxqwkfasz293.cloudfront.net/images/icons/flags/kr.png" alt="韩国国旗">
                한국어
				</a>
				</li>
				<li>
				<a href="https://dak.gg/profile/XedGo/2017-pre5/as?hl=en" data-lang="en">
				<img src="https://d3dxqwkfasz293.cloudfront.net/images/icons/flags/us.png" alt="美国国旗">
                English
				</a>
				</li>
				<li>
				<a href="https://dak.gg/profile/XedGo/2017-pre5/as?hl=zh" data-lang="zh">
				<img src="https://d3dxqwkfasz293.cloudfront.net/images/icons/flags/cn.png" alt="中国国旗">
                中文
				</a>
				</li>
				<li>
				<a href="https://dak.gg/profile/XedGo/2017-pre5/as?hl=ja" data-lang="ja">
				<img src="https://d3dxqwkfasz293.cloudfront.net/images/icons/flags/jp.png" alt="日本国旗">
                日本語
				</a>
				</li>
			</ul>
		</div>
		<div class="copyright">
			<p>
                    © DAK.GG. All Rights Reserved.
			</p>
		</div>
	</div>
	</footer>
</div>
<script type="text/javascript" src="https://d3dxqwkfasz293.cloudfront.net/js/manifest.js?id=98ab2789116a6196d1bc"></script>
<script type="text/javascript" src="https://d3dxqwkfasz293.cloudfront.net/js/vendor.js?id=1ce605d2ddfe3b4573cc"></script>
<script type="text/javascript" src="https://d3dxqwkfasz293.cloudfront.net/js/app.js?id=00d3360563f48555cc65"></script>
<script type="application/ld+json">{"@context":"http:\/\/schema.org","@type":"Organization","name":"\u7edd\u5730\u6c42\u751f\u5927\u9003\u6740\u6218\u7ee9\u67e5\u8be2_DAK.GG","url":"https:\/\/dak.gg","sameAs":["https:\/\/www.facebook.com\/PubgDAKGG\/","http:\/\/blog.naver.com\/dakgg_"]}</script>
<script>!function(e,o,n){window.HSCW=o,window.HS=n,n.beacon=n.beacon||{};var t=n.beacon;t.userConfig={},t.readyQueue=[],t.config=function(e){this.userConfig=e},t.ready=function(e){this.readyQueue.push(e)},o.config={docs:{enabled:!1,baseUrl:""},contact:{enabled:!0,formId:"ef2419b8-916c-11e7-b466-0ec85169275a"}};var r=e.getElementsByTagName("script")[0],c=e.createElement("script");c.type="text/javascript",c.async=!0,c.src="https://djtflbt20bdde.cloudfront.net/",r.parentNode.insertBefore(c,r)}(document,window.HSCW||{},window.HS||{});</script>
<script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">if (!wcs_add) var wcs_add = {}; wcs_add["wa"] = "2be7ca218d2cf0"; wcs_do();</script>
</body>
</html>